:root {
    --bg-dark: #333;
    --bg-dark-1: #444;
}

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html, body {
    font-size: 62.5%;
    font-family: 'Amazon Ember', sans-serif, Arial, Helvetica;
}

a {
    text-decoration: none;
}

/* Tools */

.container {
    max-width: 1500px;
    /* background-color: red; */
    /* height: 100vh; */
    margin: auto;
}

.text--grey {
    color: #565959
}

.text--blue {
    color: #3665A2;
}

.text--light-blue {
    color: #68ADD3;
}

.text--pinterest {
    color: #EA7562;
}

.text--line-through {
    text-decoration: line-through;
}

.text--red {
    color: #b12704;
}

.text--green {
    color: #067d62;
}

.text--2x {
    font-size: 1.7rem;
}

.btn--gold {
    padding: 10px 15px;
    background-color: #fefaf6;
    border: 1px solid rgba(157, 159, 161, 0.5);
    color: #111111;
    font-size: 1.3rem;
}

.btn--gold:hover {
    opacity: 0.7;
}

.btn--gold[active] {
    border: 2px solid #e5ba39;
    font-weight: 700;
}

.btn--gold[disabled] {
    border: 1px dashed;
}

.fa-star, .fa-star-half-alt {
    color: #F3B002;
    /* border: 1px solid black; */
}

/* Navigation */

/* Upper toolbar */

#toolbar .row>ul {
    display: grid;
    padding: 10px 20px;
    background: #131921;
    grid-gap: 1rem;
    grid-template-columns: 0.5fr 2fr 12fr 1fr 2fr 1fr 1fr;
    list-style: none;
    color: white;
    font-size: 1.5rem;
    align-items: center;
}

#toolbar .row>ul li:hover {
    border: 1px solid white;
    /* padding: 5px 0; */
}

.toolbar__li--no-hover:hover {
    border: none;
}

.toolbar__hamburger {
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 2.9rem;
    /* line-height: rem; */
}

.toolbar__logo img {
    max-width: 100px;
    object-fit: cover;
}

.toolbar__search {
    display: flex;
}

.toolbar__search input {
    width: 90%;
    height: 35px;
    padding: 0;
    margin: 0;
    /* border-radius: 5px; */
    /* padding: 5px 10px; */
}

.toolbar__search__before {
    width: 50px;
    height: 34px;
    background-color: #f3f3f3;
    color: #444;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
    padding: 0 2px;
}

.toolbar__search__before i {
    vertical-align: top;
    /* position: absolute; */
    /* background: red; */
    display: inline;
    margin-top: 5px;
    align-self: flex-start;
}

.toolbar__search__after {
    width: 50px;
    height: 34px;
    background-color: #F3A847;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar__search__after i {
    font-size: 1.8rem;
    color: #333333;
    text-align: center;
}

li.toolbar__flag {
    /* background-color: red; */
    align-self: end;
    margin-bottom: 5px;
}

.toolbar__country i {
    vertical-align: bottom;
    margin-bottom: 5px;
    opacity: 0.7;
}

.toolbar__up {
    font-size: 1.4rem;
    color: #9D9FA1;
}

.toolbar__down {
    font-size: 1.4rem;
    color: white;
    font-weight: 700;
}

.toolbar__down i {
    vertical-align: top;
}

.toolbar__cart {
    font-size: 1.4rem;
    color: white;
    display: flex;
    font-weight: 800;
}

.toolbar__cart p {
    align-self: flex-end;
}

/* Lower toolbar */

#toolbar .toolbar__row__lower-nav {
    background: #232F3E;
    color: white;
    font-size: 1.4rem;
    padding: 5px 20px;
    font-weight: 400;
    display: flex;
    /* height: 5vh; */
}

.toolbar__row__lower-nav__deliver {
    display: flex;
    justify-content: flex-start;
    width: 10%;
}

.toolbar__row__lower-nav__deliver p {
    margin-left: 5px;
}

.toolbar__row__lower-nav__deliver span {
    font-weight: 600;
}

.toolbar__row__lower-nav__option {
    width: 75%;
}

.toolbar__row__lower-nav__option ul {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.box-white:hover {
    border: 2px solid white;
}

.toolbar__row__lower-nav__option ul li {
    padding: 5px 10px;
    font-size: 1.4rem;
    font-weight: 400;
}

.toolbar__row__lower-nav__covid {
    display: flex;
    padding: 5px 8px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.toolbar_row_msg {
    background: #D8F8EB;
    font-size: 1.3rem;
    color: #0f1111;
    padding: 15px 20px;
    font-weight: 700;
}

.toolbar_row_msg a {
    text-decoration: none;
}

/* Main */

main {
    max-width: 1500px;
    margin: auto;
    padding: 15px;
}

/* main product landing */

.main-product {
    /* height: 70vh; */
    /* border: 1px solid blue; */
    padding-bottom: 50px;
}

.main-product__page {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 3fr 5fr 1.5fr;
    grid-gap: 2rem;
    font-size: 1.3rem;
}

.main-product__page>div {
    /* border: 1px solid black; */
    /* width: 33%; */
}

/* img mangement */

.main-product__page__left-col {
    height: 100%;
}

.main-product__page__left-col__img-column {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 0.5rem;
    position: relative;
    padding: 10px 10px;
    height: 500px;
}

.main-product__page__left-col__img-column img {
    height: 60px;
    width: 50px;
    object-fit: contain;
    background: center center/cover;
    border: 1px solid gray;
}

.main-product__page__left-col__img-column span img:hover {
    border: 2px solid #e77600;
    border-radius: 5px;
}

.main-product__page__left-col__img-column .big-img {
    visibility: hidden;
    border: none;
}

.main-product__page__left-col__img-column span:hover .big-img {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 20vw;
    height: 80%;
    object-fit: contain;
    background: no-repeat center center/cover;
    visibility: visible;
}

.main-product__page-path ul {
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    margin-left: 10px;
    list-style: none;
    color: #565959;
}

/* product detail center col */

.main-product__page__center-col {
    font-size: 1.3rem;
    display: grid;
    grid-gap: 2rem;
    /* grid-template-rows: 3fr 2fr 1fr 2fr 2fr 3fr 3fr 3fr 3fr 3fr; */
    font-size: 1.3rem;
}

.main-product__page__center-col div {
    /* border: 1px solid blue; */
}

.main-product__page__center-col__btn-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-product__page__center-col__btn-holder div {
    display: flex;
}

.main-product__page__center-col__btn-holder div button {
    margin-right: 2rem;
}

.main-product__page__center-col h2 {
    font-weight: 400;
    font-size: 2.1rem;
}

.main-product__page__center-col a {
    font-weight: 400;
    font-size: 1.3rem;
}

.main-product__page__center-col a:hover {
    text-decoration: underline;
    color: #c45500;
}

.main-product__page__center-col div ul {
    list-style-position: inside;
    line-height: 1.9rem;
}

/* Main page right column */

.main-product__page__right-col__icons {
    display: flex;
    justify-content: center;
}

.main-product__page__right-col__icons>* {
    margin: 5px;
}

.main-product__page__right-col__icons>i {
    font-size: 18px;
}

.main-product__page__right-col__cart-management {
    padding: 5px 10px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    height: 300px;
}

.main-product__page__right-col__cart-management input {
    width: 50px;
    padding-right: 20px;
    /* padding: 5px 0; */
}

.main-product__page__right-col__cart-management__amount {
    background: #DFE2E8;
    display: inline-block;
    width: 30%;
    border-radius: 2px;
    box-shadow: 0.5px 1px black;
}

.main-product__page__right-col__cart-management__amount select {
    border: none;
    background: transparent;
}

.main-product__page__right-col__cart-management__buttons {
    /* display: flex; */
}

.main-product__page__right-col__cart-management__buttons button {
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    position: relative;
    background: #dadab9;
    border-radius: 2px;
}

.main-product__page__right-col__cart-management__buttons button i {
    position: absolute;
    left: 2px;
    font-size: 20px;
}

.main-product__page__right-col__cart-management__buttons_add button {
    background: #E1E4EA;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
}

.main-product__page__right-col__sell-on {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-product__page__right-col__sell-on button {
    padding: 7px 11px;
    background: #E0E3E8;
    border-radius: 5px;
}

/* section also viewed */

.also-viewed {
    padding: 30px 0;
}

.also-viewed .container {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.also-viewed button {
    /* width: 11px;
    height: 15px; */
    background: #e7e9ec;
    padding: 14px;
    border-radius: 5px;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-top-color: rgb(173, 177, 184);
    border-right-color: rgb(162, 166, 172);
    border-bottom-color: rgb(141, 144, 150);
    border-left-color: rgb(162, 166, 172);
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

.also-viewed__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    /* margin-top: 1rem; */
}

.also-viewed h3 {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #cc6600;
    font-weight: 700;
    line-height: 2.1rem;
}

.also-viewed__card {
    max-width: 130px;
}

/* video */

.container__cards-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.videos h3 {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 2.7rem;
    color: #0f1111;
}

.videos h4 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.9rem;
    color: #111111;
}

.videos h5 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: #111111;
}

.videos p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.9rem;
    margin: 10px 0;
    color: #555555;
}

.videos__card {
    /* background: red; */
    height: 30vh;
    width: 248px;
    border-radius: 10px;
    border: 1px solid #555555;
    background: #eff1f3;
    background: #e7e9ec;
    /* padding: 14px; */
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-top-color: rgb(173, 177, 184);
    border-right-color: rgb(162, 166, 172);
    border-bottom-color: rgb(141, 144, 150);
    border-left-color: rgb(162, 166, 172);
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

.vse-video-image {
    border-radius: 10px 10px 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    text-align: center;
    background-color: #000;
    position: relative;
}

.videos__upload-vid button {
    margin-top: 20px;
    background: #eff1f3;
    background: #e7e9ec;
    padding: 10px 14px;
    font-weight: 1.3rem;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-top-color: rgb(173, 177, 184);
    border-right-color: rgb(162, 166, 172);
    border-bottom-color: rgb(141, 144, 150);
    border-left-color: rgb(162, 166, 172);
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 5px;
}